<!doctype html>
<html>
    <head>
        <title>HTTP Check</title>
        <!--link rel="stylesheet" href="/static/css/light.css"-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}">
    </head>

    <body class="p-3 mb-2 bg-color-body text-white">
      <div class="container">
        <p></p>
        <div class="row">
          <div class="col-12">
            <p>
              {% if not current_user.is_authenticated %}
              <a class="btn btn-dark" href="{{ url_for('auth.login') }}">HTTP Check</a>
              {% endif %}
              {% if current_user.is_authenticated %}
              <a class="btn btn-primary" href="{{ url_for('main.http_check') }}">HTTP Status</a>
              <a class="btn btn-primary" href="{{ url_for('main.ssl_check') }}">SSL</a>
              <a class="btn btn-icon btn-outline-secondary" href="{{ url_for('main.new_site') }}"><i class="fa-solid fa-plus"></i></a>
              <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Logout</a>
              {% endif %}
            </p>
          </div>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
  
        <div class="small text-muted">
          <p></p>
            <a href="https://github.com/jonfarias/http-status">HTTP Check</a>
              1.0
        </div>
        <p></p>
      </div>
    </body>
</html>
  