{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">HTTP Status</a>
                    </li>
            </div>

            <div class="table-responsive-sm">
                <table class="table card-table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for site in sites %}
                          <tr>
                            <td>
                              <div class="danger"><a href="{{ site.url }}">{{ site.name }}</a></div>
                              <div class="small text-muted">
                                {% if site.status >= 200 and site.status <= 299 %}
                                <span class="badge bg-success">{{ site.status}}</span>
                                {% elif site.status >= 300 and site.status <= 399 %}
                                <span class="badge bg-info">{{ site.status}}</span>
                                {% elif site.status >= 400 and site.status <= 499 %}
                                <span class="badge bg-warning">{{ site.status}}</span>
                                {% elif site.status >= 500 and site.status <= 599 %}
                                <span class="badge bg-danger">{{ site.status}}</span>
                                {% else %}
                                <span class="badge bg-secondary">{{ site.status}}</span>
                                {% endif %}
                              </div>
                            </td>
                            <td>
                              <div class="danger"><a href="{{ site.url }}">{{ site.url }}</a></div>
                              <div class="small text-muted">
                                Next: 2022-08-17 00:52:00 UTC
                              </div> 
                            </td>
                            <td>
                              <div>           
                                {{ site.time}} in {{ site.time}} minutes
                              </div>
                              <div class="small text-muted">
                                Last: 2022-08-17 00:51:00 UTC
                              </div> 
                            </td>
                            <td>
                              {% if site.status >= 200 and site.status <= 299 %}
                              <span class="badge bg-success">{{ site.status}}</span>
                              {% elif site.status >= 300 and site.status <= 399 %}
                              <span class="badge bg-info">{{ site.status}}</span>
                              {% elif site.status >= 400 and site.status <= 499 %}
                              <span class="badge bg-warning">{{ site.status}}</span>
                              {% elif site.status >= 500 and site.status <= 599 %}
                              <span class="badge bg-danger">{{ site.status}}</span>
                              {% else %}
                              <span class="badge bg-secondary">{{ site.status}}</span>
                              {% endif %}
                              <div class="small text-muted">
                                {{ site.cron_name}}
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </table>
            </div>
        </div>
    </div>
</div>    
{% endblock %}