{% extends "base.html" %}

{% block content %}
<section id="colored-dna-back" class="hero is-white are-medium">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Checks
      </p>
      <button class="card-header-icon" aria-label="more options">
          <a class="button is-success is-rounded">JSON</a>
      </button>
    </header>
  </div>
  <div class="card-content">
    <div class="content">
      <table class="table">
      <thead>
        <tr>
          <th colspan=2>Active</th>
          <th>Name</th>
          <th>Cron</th>
          <th>URL</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-green"><i class="fe fe-check"></i></td>
          <td><a href="/checks/1/edit"><i class="fe fe-edit"></i></a></td>
          <td>
            <div><strong><a href="/checks/1">Universidade Solides</a></strong></div>
            <div class="small text-muted">
              <span class="text-success">
                <strong>200</strong></span>
              1 minute ago
            </div>
          </td>
          <td class="text-nowrap">
            <div>
              <strong>* * * * *</strong>
              <span class="small text-muted float-right">in less than a minute
              </span>
            </div>
            <div class="small text-muted">
              Next: 2022-08-08 14:13:00 UTC
            </div>
          </td>
          <td>
            <div class="is-success"><a href="https://universidade.solides.com.br/">https://universidade.solides.com.br/</a></div>
            <div class="small text-muted">Last: 2022-08-08 14:12:00 UTC</div>
          </td>
          <td>
              <span class="badge badge-success">200</span>
            <div class="small text-muted">
              cron_1659966824
            </div>
          </td>
          <td>
            <form class="button_to" method="post" action="/checks/1"><input type="hidden" name="_method" value="delete" autocomplete="off" /><button class="btn btn-outline-danger btn-sm" type="submit">
              <i class="fe fe-trash"></i>
  </button><input type="hidden" name="authenticity_token" value="w4ZDblmBrAPK6MjPVjBYH51VbvqfoHWpQ7sflmyuE1CWbRdZUQUMkCwFZOCRp9InJFny1ZiptOdVXvZSjn5sXQ==" autocomplete="off" /></form>        </td>
        </tr>
    </tbody>
      </table>
    </div>
  </div>




</section>

{% endblock %}