{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages[0] == 'Login feito com sucesso.' %}
      <div class="alert alert-success" role="alert">
        {{ messages[0] }}
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endif %}
{% endwith %}

<div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main.new_site') }}">Add New Site</a>
        </li>
    </div>

  <div class="card-body">

    <form method="POST" action="{{ url_for('main.new_site_post') }}">
      <label for="name" class="form-label text-dark">Name</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Example" name="name" value="{{ request.form['name'] }}">
        </div>

      <label for="url" class="form-label text-dark">URL</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="https://example.com" name="url" value="{{ request.form['url'] }}">
        </div>

      <label for="cron_time" class="form-label text-dark">Time</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Time in minutes (1 to 5)" name="cron_time" value="{{ request.form['cron_time'] }}">
        </div>

      <button type="submit" class="btn btn-primary">Create</button>

    </form>
  </div>
</div>



{% endblock %}