{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages[0] == 'O email inserido já existe' %}
      <div class="alert alert-warning" role="alert">
          {{ messages[0] }}. Tente novamente com outro email.
      </div>
      <div class="alert alert-success" role="alert">
        Vá para a página de <a href="{{ url_for('auth.login') }}">login</a>.
      </div>
    {% elif messages[0] == 'Usuário Cadastrado com Sucesso.' %}
      <div class="alert alert-success" role="alert">
          {{ messages[0] }}
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
          {{ messages[0] }}
      </div>
    {% endif %}
  {% endif %}
{% endwith %}

<section class="vh-50">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col col-xl-10">
        <div class="card align-items-center">
          <div class="row g-3">
            <div class="align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="POST" action="{{ url_for('auth.signup_post') }}">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Signup</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3">Register your user</h5>

                  <div class="form-outline mb-4">
                    <input type="text" name="name" placeholder="Name" autofocus="" class="form-control form-control-lg" value="{{ request.form['name'] }}"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" name="email" placeholder="Email" autofocus="" class="form-control form-control-lg" value="{{ request.form['email'] }}"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" placeholder="Password" class="form-control form-control-lg" value="{{ request.form['password'] }}"/>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}